<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detection App</title>
</head>
<body>
    <h1>Upload an Image for Emotion Detection</h1>
    <form action="/analyze" method="POST" enctype="multipart/form-data">
    <label for="name">Enter your name:</label>
    <input type="text" name="name" id="name" placeholder="Your name" required><br><br>

    <label for="file">Upload your image:</label>
    <input type="file" name="file" id="file" accept="image/*" required><br><br>

    <input type="submit" value="Detect Emotion">
</form>
</body>
</html>