<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detection App</title>
</head>
<body>
    <h1>Upload an Image for Emotion Detection</h1>
    <form action="/analyze" method="POST" enctype="multipart/form-data">
    <label for="name">Enter your name:</label>
    <input type="text" name="name" id="name" placeholder="Your name" required><br><br>

    <label for="file">Upload your image:</label>
    <input type="file" name="file" id="file" accept="image/*" required><br><br>

    <input type="submit" value="Detect Emotion">
</form>
{% if emotion %}
    <h3>Hi {{ name }}, your detected emotion is: <strong>{{ emotion }}</strong></h3>
    <img src="{{ image_path }}" alt="Uploaded Image" width="200">
{% endif %}

</body>
</html>